.vs/CardCraze/FileContentIndex/25fc80f2-1d04-408d-acf0-17aa5cf2ae2f.vsidx
.vs/CardCraze/FileContentIndex/365ab746-d06b-4c4a-89c1-6784365cb6dd.vsidx
.vs/CardCraze/FileContentIndex/591d4587-427e-461b-8b4c-6d6333c6a161.vsidx
.vs/CardCraze/FileContentIndex/c0670b2e-7ef4-4e21-8b11-1087e267987d.vsidx
.vs/CardCraze/v17/TestStore/1/000.testlog
.vs/CardCraze/v17/TestStore/1/000.testlog
.vs/CardCraze/v17/TestStore/1/000.testlog
